# Ignore all
*

# Unignore all with extensions
!*.*
!Makefile
# Unignore all dirs
!*/

build/
*.so
*.o
*.out
*.top
*.Qdetails
*.Qlist
*.angle
*.bond
*.dihe
*.excl
*.iRad
*.sp
*.pdb
*.pdbBack
*.coord
*.cargo
*.coord
*.nc
*.pdbback
*.struct
*.map
*.nxs
*.xyz
*.png
*.itp
*.param
*.pdb
*.pdrs
*.topBack
*.pairs
